In [2]:
!python --version

Python 3.9.5

In [4]:
from platform import  python_version

In [5]:
python_version()

'3.10.6'

In [6]:
import os
import glob

In [30]:
path=r'text\bbc'

# b_text_files=glob.glob("")
files=os.listdir(path)
files

['business', 'entertainment', 'politics', 'sport', 'tech']

In [34]:
artical_list=[]
for file in files:
    text_files=glob.glob(f"{path}\{file}\\*.txt")
    # print(text_files)
    for text_file in text_files:
        with open(text_file) as f:
            text=f.read()
            artical_list.append(text)

len(artical_list)

2225

In [35]:
path=r'text\bbc'

# b_text_files=glob.glob("text\\bbc\\")
files=os.listdir(path)
files

['business', 'entertainment', 'politics', 'sport', 'tech']

In [41]:
business_class=path+ '\\business'
business_class_text_files=glob.glob(f'{business_class}\\*.txt')

entertainment_class=path+'\\entertainment'
entertainment_class_text_files=glob.glob(f'{entertainment_class}\\*.txt')

politics_class=path+'\\politics'
politics_class_text_files=glob.glob(f'{politics_class}\\*.txt')

sport_class=path+'\\sport'
sport_class_text_files=glob.glob(f'{sport_class}\\*.txt')

tech_class=path+'\\tech'
tech_class_text_files=glob.glob(f'{tech_class}\\*.txt')

# business_class_text_files
# entertainment_class_text_files

In [63]:
import re

article=[]
target=[]

def text_list(file_path_list,class_name):

    for file in file_path_list:
        with open (file, 'r') as f:
            text=f.read()
            clean_text= re.sub('\n',' ',text)
            article.append(text)
            target.append(class_name)
            
text_list(business_class_text_files,'business')
text_list(entertainment_class_text_files,'entertainment')
text_list(politics_class_text_files,'politics')
text_list(sport_class_text_files,'sport')
text_list(tech_class_text_files,'tech')

print(len(article))
print(len(target))

2225
2225

In [64]:
print(target[510])

entertainment

In [66]:
print(article[0])

In [59]:
import pandas as pd
d1={'text':article, 'class': target}
df=pd.DataFrame(d1)

In [60]:
df.to_csv('sample.csv')

In [67]:
df['class'].unique()

array(['business', 'entertainment', 'politics', 'sport', 'tech'],
      dtype=object)

In [68]:
df['class'].value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: class, dtype: int64

In [69]:
df['class'].value_counts()/len(df)*100

sport            22.966292
business         22.921348
politics         18.741573
tech             18.022472
entertainment    17.348315
Name: class, dtype: float64

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    2225 non-null   object
 1   class   2225 non-null   object
dtypes: object(2)
memory usage: 34.9+ KB

In [72]:
from sklearn.preprocessing import LabelEncoder 
le=LabelEncoder()
df['class']=le.fit_transform(df['class'])
df

                                                   text  class
0     Ad sales boost Time Warner profit\n\nQuarterly...      0
1     Dollar gains on Greenspan speech\n\nThe dollar...      0
2     Yukos unit buyer faces loan claim\n\nThe owner...      0
3     High fuel prices hit BA's profits\n\nBritish A...      0
4     Pernod takeover talk lifts Domecq\n\nShares in...      0
...                                                 ...    ...
2220  BT program to beat dialler scams\n\nBT is intr...      4
2221  Spam e-mails tempt net shoppers\n\nComputer us...      4
2222  Be careful how you code\n\nA new European dire...      4
2223  US cyber security chief resigns\n\nThe man mak...      4
2224  Losing yourself in online gaming\n\nOnline rol...      4

[2225 rows x 2 columns]

In [76]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split

In [ ]:
x=df['text']
y=df['class']

count_vec=CountVectorizer(analyzer='word', stop_words='english')
count_vec_x=count_vec.fit_transform(x)
cv_x_train,cv_x_test,cv_y_train, cv_y_test=train_test_split(count_vec_x,y, test_size=0.25, random_state=123, stratify=y)

tfidf_vec=TfidfVectorizer(analyzer='word', min_df=0.05)
tfidf_vec_x=tfidf_vec.fit_transform(x)
tfidf_x_train,tfidf_x_test,tfidf_y_train, tfidf_y_test=train_test_split(tfidf_vec_x,y, test_size=0.25, random_state=123, stratify=y)

tfidf_vec=TfidfVectorizer(analyzer='word', ngram_range=(2,3) , min_df=0.05)
tfidf_ngram_vec_x=tfidf_vec.fit_transform(x)
tfidfngram_x_train,tfidfngram_x_test,tfidfngram_y_train, tfidfngram_y_test=train_test_split(tfidf_ngram_vec_x,y, test_size=0.25, random_state=123, stratify=y)